body
{
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(28.avif
    );
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh-80px);
    user-select: none;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 100px;
}

h1
{
    font-size: 20px;
    color: #042744;
    
}
h1:hover
{
    color: #022210;
}

.a
{
    
    border: 1px solid #022210;
    padding: 20px;
    border-radius: 8px;
    background-color: transparent ;
    width: 6cm;
    height: 9cm;
    
}
.c input
{
    width: 6.7cm;
    margin-left: -16px;

}

.d input
{
    float: right;
    margin-right: -16px;
    width: 52%;
}
.e input
{
    
    float: left;
    margin-left: -16px;
    width: 52%;
}

.f input 
{
    
    float: right;
    margin-right: -16px;
    width: 52%;
}

.g input
{
    float: left;
    margin-left: -16px;
    width: 52%;
}


.h input 
{
    
    float: right;
    margin-right: -16px;
    width: 52%;
}



.i input
{
    float: left;
    margin-left: -16px;
    width: 52%;
}

input
{
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(1, 34, 1);
    margin: 0 4px 4px 0;

}

a button
{
    background-color: #042744;
    
    width: 6.8cm;
    margin-left: -16px;
    height: 0.9cm;
    border: none;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
}

img
{
    width: 1.5cm;
    height: 1.5cm;
    border-radius: 3cm;
    margin-left: 2.2cm;
    border: 3px solid  #042744;
    float: left;
 
    
}


